<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>RGC Contractors</title>
		<meta name="keywords" content="rgc, contractor, contractors, uganda, oil, and , gas, interior design, logistics, construction, minerals">
		<meta name="description" content="RGC contractors enjoys a rich and diversified work force employing a multi-cultured professional team of various backgrounds. Our team of professionals are always enjoying their skills, know how and craftmanship to attain the highest level in quality, safety and efficiency. We take pride in the work we do to achieve the goals and expectation of our clients.">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- code auther -->
        <meta name="author" content="PidScrypt:Olili daniel" />
		
		<link rel="shortcut icon" href="images/logo.png" >
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/templatemo-style.css">

		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.singlePageNav.min.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/custom.js"></script>
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p>
							<i class="fa fa-phone"></i><span> Phone</span>+256 75-567-0370
							<br />
							<i class="fa fa-phone"></i><span> Phone</span>+256 704-56-6686
						</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="mailto:info@rgc.co.ug">info@rgc.co.ug</a></p>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <ul class="social-icon">
                            <li><span>Meet us on</span></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
						</ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand">RAU Group of Companies</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#top">HOME</a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#service">SERVICE</a></li>
						<li><a href="#team">TEAM</a></li>
						<li><a href="#portfolio">PORTFOLIO</a></li>
						<li><a href="#publication">PUBLICATIONS</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->

    	<!-- start home -->
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">We go above and beyond 
on every job, <span>Period.</span></h1>
    					<div class="element">
                            <div class="sub-element">Hello!</div>
                            <div class="sub-element">This is Ali from RGC.</div>
                            <div class="sub-element">Are you looking for the best contractor services in Uganda?</div>
                            <div class="sub-element">RAU Group of Companies is the place to be.</div>
                            <div class="sub-element">I repeat</div>
                            <div class="sub-element">RAU Group of Companies is the place to find the quality you desire.</div>
                        </div>
    					<a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">THE STORY BEHIND <span>RGC Contractors</span></h2>
    				</div>
					<div class="col-md-12">
    <p class="paragraph-outter">
        <img class="col-xs-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 pull-right" src="images/logo.png" alt="company logo" />
The company rapidly and competively grew and developed
in oil and gas services at being awarded, cementing and
stimulation two year renewable contracts by DNO YEMEN.
<br />
<br />
Also mud logging and coil tubbing constracted by OMV YEMEN.
These served as a remarkable factor towards the experiance
and achivements of the company under oil and gas services
hense a forecasted plan has been put in place in designing well
integrity tools operating basing on the new technology in the
industry.
<br />
Construction has been the core serving sector due to the
technological and engineering sectors of RGC in sectors of
commercial and residential
<br /><br />
<h3><label>Our project management and execution philosophy is:</label></h3>
<br />
create detail schedule and resources plan to meet client’s project
objective,
communicate clearly with all project stakeholders,
track project progress and fine tune deviations,
supervise closely on quality of work done,
complete and commission the project on time.</p>
					</div>
				</div>


    	<!-- start service -->
    	<section id="service">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>RGC</span> SERVICES</h2>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<a href="services/oil.html" ><img style="margin-bottom: 1em; margin-left: 0px;" class="img img-responsive img-rounded col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" src="images/services/activity_oil_thumb.jpg" /></a>
    					<h4><a href="services/oil.html" class="btn link" style="font-weight: 700; font-size: 1.3em;" >Oil and Gas Services</a></h4>
    					<p>Measurement and data recording include depth, bit 
RPM, rotary torque, pump pressure, casing pressure, pump-stroke, pit volumes, flow rate, mud weight and mud temperature. Options include mud conductivity, pH and electromagnetic flow meter readings
						</p>
						<a href="services/oil.html" class="btn btn-primary pull-right"  >view details</a>
    				</div>
    				<div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
    					<a href="services/logistics.html" ><img style="margin-bottom: 1em; margin-left: 0px;" class="img img-responsive img-rounded col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" src="images/services/activity_logistic_thumb.jpg" /></a>
    					<h4><a href="services/logistics.html" class="btn link" style="font-weight: 700; font-size: 1.3em;" >Logistics Services</a></h4>
    					<p>RGC Shipping & Logistics Ltd provides worldwide shipping solutions to industrial shippers through our Five Star Service: ocean transportation, projects, operations, port services, and strategic planning. The RGC shipping network operates liner, parcel and dry bulk services.</p>
						<a href="services/logistics.html" class="btn btn-primary pull-right"  >view details</a>
					</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<a href="services/construction.html" ><img style="margin-bottom: 1em; margin-left: 0px;" class="img img-responsive img-rounded col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" src="images/services/activity_construction_thumb.jpg" /></a>
    					<h4><a href="services/construction.html" class="btn link" style="font-weight: 700; font-size: 1.3em;" >Construction Services</a></h4>
    					<p>
							<ul>
								<li>Present in more than 15 countries in Asia, Africa, Europe and Asia-Pacific besides the Middle East</li>
								<li>Expertise in drilling turnkey wells and providing technical solutions to drilling problems.</li>
								<li>Operational support in preparing well programs, materials utilization lists, drilling proposals.</li>
								<li>Full logistics support, including rig moving and transport of company-supplied materials.</li>
								<li>Since 2008, RGC is a member of the International Association of Drilling Contractors (IADC), a premiere association, which formulates drilling guidelines and standards for the industry.</li>
							</ul>
						</p>
						<a href="services/construction.html" class="btn btn-primary pull-right"  >view details</a>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<a href="services/interior.html" ><img style="margin-bottom: 1em; margin-left: 0px;" class="img img-responsive img-rounded col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" src="images/services/activity_interior_thumb.jpg" /></a>
    					<h4><a href="services/interior.html" class="btn link" style="font-weight: 700; font-size: 1.3em;" >Interior Design Services</a></h4>
    					<p>
							To make sure that our clients get the best services they deserve, we do not only select high quality FF&E, but also we aquire these items from trusted suppliers equivalent to the best cost in the least possible time.
							<br />
							In order to make sure that the dream we design will be constructed exactly as we planned, we supervise construction process stage by stage till delivery to the client.
						</p>
						<a href="services/interior.html" class="btn btn-primary pull-right"  >view details</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end servie -->


<section class="col-sm-12 panel-team on-theme-color-text" >
    <header><h2>Our <span>Resources</span></h2></header>
    <section>
        RGC contractors enjoys a rich and diversified work force employing a multi-cultured professional team of various
        backgrounds.
        Our team of professionals are always enjoying their skills, know how and craftmanship to attain the highest level in quality, safety and efficiency.
        We take pride in the work we do to achieve the goals and expectation of our clients.
    </section>
    <section>
        <br />
        <div>
            <header class="label">BCA REGISTERED CONTRACTORS</header>
            <table class="table table-responsive" >
                <thead>
                    <th>Workhead</th>
                    <th>Description</th>
                    <th>Tendering limit</th>
                </thead>
                <tbody>
                    <tr>
                        <td>CW01</td>
                        <td>General building</td>
                        <td>C1</td>
                    </tr>
                    <tr>
                        <td>CW02</td>
                        <td>Civil Engineering</td>
                        <td>C2</td>
                    </tr>
                    <tr>
                        <td>CR06</td>
                        <td>Civil Engineering</td>
                        <td>L4</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div>
            <header class="label" >LICENSED BUILDERS</header>
            <table class="table table-responsive" >
                <thead>
                    <th>Licensing code</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr>
                        <td>GB1</td>
                        <td>General Building works (Class 1)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div>
            <header class="label" >PAID UP CAPITAL</header>
            <div>$500,000.0</div>
        </div>
        <br />
        <div>
        <div>Total staff strength: 41</div>
        <br />
        <div>Branches: 4 plants <a class="btn btn-success theme-color" href="#!/contactUs" >view plants</a></div>
        </div>
    </section>
</section>

			</div>
		</section>
		<!-- end about -->

    	<!-- start team -->
    	<section id="team">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>RGC</span> TEAM</h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="images/team/img_0.jpg" class="img-responsive" alt="team img 1">
    							<div class="team-des">
    								<h4>Ali Abdul Jabar Alseyed</h4>
    								<span>Director</span>
    								<p>We provide professional client-focused construction solutions. As an employee-owned company, we go above and beyond on every project and deliver on our promises with integrity.</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="images/team/img_2.jpg" class="img-responsive" alt="team img 2">
    							<div class="team-des">
    								<h4>Riadh Mohamad</h4>
    								<span>Director</span>
    								<p>With years of exerience in this field, I am passionate about the work i do, I deliver one-time work that may live unbeaten for best of its lifespan</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="images/team/img_1.jpg" class="img-responsive" alt="team img 3">
    							<div class="team-des">
    								<h4>Abdul Cassim Sheikh Hamzad</h4>
    								<span>Director</span>
    								<p>The ultimate goal at RGC contractors is that we give our clientale that satisfaction they deserve. we always look forward to our client`s best interest giving advise where need may arise.</p>
    							</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end team -->

    	<!-- start portfolio -->
    	<section id="portfolio">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>RGC</span> PORTFOLIO</h2>
    				</div>
					<div class="container">
						<h3><span>ONGOING PROJECTS</h3>
					</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
    					   <img src="images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4>Project Name</h4>
                                    <p>Their are currently no projects loaded into the site.. please refer to contact form</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
    				</div>
					<div class="container-fluid" >

						<!-- start projects executed -->

    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 panel-team on-theme-color-text" >
        <header><h2>Executed Projects</h2></header>
        <table class="projects-executed table table-responsive" data-ng-controller="whatWeDoController">
            <thead>
                <th>Month</th>
                <th>Year</th>
                <th>Project description</th>
                <th>Main contractor/ Owner</th>
                <th></th>
            </thead>
            <tbody>
                <tr data-ng-repeat="execProj in projects.executed">
                    <td>{{ execProj.month }}</td>
                    <td>{{ execProj.year }}</td>
                    <td>{{ execProj.description }}</td>
                    <td>{{ execProj.contractor }}</td>
                    <td><a class="btn btn-success" href="#!/whatWeDo/projects/finished/{{ execProj.id }}" >View project</a></td>
                </tr>
            </tbody>
        </table>
    </section>
<!-- end executed projects -->

					</div>
    			</div>
    		</div>
    	</section>
    	<!-- end portfolio -->
		<!-- start publications -->
		<section id="publication" >
			<div class="container" >
				<div class="row" >.
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">RAU <span>PUBLICATIONS</span></h2>
    				</div>
					<div class="container-fluid" >
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" >
							<img src="images/logo.png" class="col-md-5 img img-rounded" />
							<div class="col-md-7">
								<h3><span>Chairman`s </span>letter</h3>
								<p>We have so far read a lot about the company from various soures. Most of which seem to break it down for us. Find out what the chairman has in store for us today....</p>
								<a class="btn btn-primary" href="letter.html" alt="" >View letter</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" >
							<a href="journals/RCG_prospectus_0.pdf" ><img src="images/journal_0.jpg" class="col-md-5 img img-rounded" /></a>
							<div class="col-md-7">
								<h3>Company profile<span> 2017</span></h3>
								<p>The company rapidly and competively grew and developed in oil and gas services at being awarded, cementing and stimulation two year renewable contracts by DNO YEMEN. </p>
								<a class="btn btn-primary" href="journals/RCG_prospectus_0.pdf" alt="" >View letter</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end publications -->
    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>RAU GROUP OF COMPANIES</span></h2>
    				</div>
					<div class="container-fluid" >
						<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
							<div class="media">
								<div class="media-heading-wrapper">
									<div class="media-object pull-left">
										<i class="fa fa-mobile"></i>
									</div>
									<h3 class="media-heading">YEMEN ENERGY SANAA</h3>
								</div>
								<div class="media-body"><section>Hadah street</section>
                        <section>E-Mail: info@yemenenergy.info</section>
                        <section>Tel: +967 772822261</section></div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
							<div class="media">
								<div class="media-heading-wrapper">
									<div class="media-object pull-left">
										<i class="fa fa-mobile"></i>
									</div>
									<h3 class="media-heading">SJ GLOBAL</h3>
								</div>
								<div class="media-body">
									
                        <section >Madai Estate 04.101 innovation place zone 1, Singapore</section>
                        <section ng-if="branch.email">E-Mail: {{ branch.email }}</section>
                        <section >Tel: +67 63-4996</section>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
							<div class="media">
								<div class="media-heading-wrapper">
									<div class="media-object pull-left">
										<i class="fa fa-mobile"></i>
									</div>
									<h3 class="media-heading">B.A.T</h3>
								</div>
								<div class="media-body">
									<section><label></label></section>
									<section>Alqusais-3 Dubai</section>
									<section>E-Mail: info@baharalmadinauae.com</section>
									<section>Tel: +971 42-55-2489</section>
									<section>Tel: +971 508-54-6438</section>
									<section>P.O.BOX: 87263</section>
									</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
							<div class="media">
								<div class="media-heading-wrapper">
									<div class="media-object pull-left">
										<i class="fa fa-mobile"></i>
									</div>
									<h3 class="media-heading">RGC</h3>
								</div>
								<div class="media-body">
									<section>Kampala - Uganda</section>
									<section>E-Mail: info@rgc.co.ug</section>
									<section>Tel: +256 75-567-0370</section>
									<section>Tel: +256 704-56-6686</section></div>
							</div>
						</div>
					</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="contact.php?contact=1" method="post">
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>
    						
                            <input type="submit" class="form-control">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR ADDRESS</p>
    						<span>At RGC-CONTRACTORS we are known for excellence in a diverse
                            range of markets. Our extensive experience in each and every
                            realm is driven by the breadth and depth of our qualified teams,
                            all who take pride in doing the best possible job for our clients.
                        </span>
    						<p><i class="fa fa-phone"></i> +256 755-67-0370</p>
    						<p><i class="fa fa-phone"></i> +256 704-56-6686</p>
    						<p><i class="fa fa-envelope-o"></i> info@rgc.co.ug</p>
    						<p><i class="fa fa-map-marker"></i> Sabagabo Municipality Makindye.</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="#" class="fa fa-facebook"></a></li>
    						<li><a href="#" class="fa fa-twitter"></a></li>
						</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                        RGC &copy; Copyright 2017. Designed By PidScrypt Uganda</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->


<script>
	(function(){
		"use strict";
		
            window.addEventListener('load',
                () => {
                    // change background occassionally
                    setInterval(() =>{
                        let num = Math.random()*4;
                        num = Math.floor(num);
						if(num == 0) num = 1;
                        //changeBackground(num);
                        let bgs = {
                            ext : "bg_",
                            bgNums : [1,2,3,4]
                        };
                      //  alert(bgs.ext+num);
                      var body = document.getElementById('home');
                      body.style.backgroundImage = "url('images/bgs/"+bgs.ext+num+".jpg')";
                    },10000);

                },
            false);
	}());
</script>
	</body>
</html>